<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
	<header>
		<h1>Welcome to the Blog</h1>
	<nav>
		<ul>
			<li><a href="/">Home</li>
			<li><a href="/authors/new">Create a New Author</a></li>
		</ul>

	</nav>
	</header>
	<main>
		<h2>List of Authors</h2>
		<ul>
			<% for (let i=0; i< authors.length; i++) {%>
			<li><a href="/authors<%=authors[i].id%>"><%=authors[i].name%></a></li>
			<%}%>
		</ul>
	</main>

</body>
</html>