<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
	<header>
		<h1>Welcome to the Blog</h1>
	<nav>
		<ul>
			<li><a href="/">Home</li>
			<li><a href="/authors/new">Create a New Author</a></li>
		</ul>

	</nav>

	</header>

</body>
</html>